@{
    ViewData["Title"] = "Contact";
    ViewData["Message"]= "Quality bags Service Available: 24 hours with 7 days";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <div id="email">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <strong>Service Email:</strong> <a href="mailto:service@qualitybags.co.nz"> service@qualitybags.co.nz</a><br />
    </div>
    <div id="phone">
        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
        <strong>Service Phone:</strong><a> 0800-12345678</a><br />
    </div>

</address>

<address>
    <div id="address">
        <strong>
            Office Address: <br />
        </strong>
        139 Carrington Rd, <br />
        Mount Albert,<br />
        Auckland 1025<br />

</div>

</address>



<div>
    <iframe frameborder="0" height="300px" width="85%" scrolling="no"
            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=139+Carrington+Rd,+Mount+Albert,+Auckland&amp;aq=0&amp;oq=QualityTShirt&amp;sll=-36.8809126,174.7081061&amp;ie=UTF8&amp;hq=QualityTShirt,+Inc.,+139+Carrington+Rd,+Mount+Albert,+Auckland&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
</div>